<div class="btn-group btn-group-sm">
    <a href="{{ path('super_franqueador_edit', {id: data.idFranqueador}) }}" class="btn">
        <span class="fa fa-pencil"></span>
    </a>
    {% if data.stNiveis %}
        <a href="{{ path('super_franqueador_imagem_nivel', {id: data.idFranqueador}) }}" class="btn">
            <span class="fa fa-camera"></span>
        </a>
    {% endif %}
</div>