{% extends 'SuperBaseBundle::layout.html.twig' %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            FAQ
              <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
              </span>
        </header>
        <div class="panel-body">
            <form method="post" action="{{ path('super_faq_index') }}" id="form-faq" class="form-horizontal tasi-form">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Pergunta</label>
                    <div class="col-lg-10">
                        <input placeholder="Pergunta" type="text" class="form-control" id="noAssunto" name="noAssunto" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Situação</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="stAtivo" name="stAtivo">
                            <option value="">Selecione...</option>
                            <option value="0">Inativo</option>
                            <option value="1">Ativo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                            Pesquisar
                        </button>
                        <a href="{{ path('super_faq_create') }}" class="btn btn-default">
                            <i class="fa fa-plus"></i>
                            Cadastrar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            Resultado da pesquisa
        </header>
        <div class="panel-body">
            <table class="display table table-bordered table-striped" data-grid="form-faq">
                <thead>
                    <tr>
                        <th data-column="noAssunto">Pergunta</th>
                        <th data-column="noDescricao">Resposta</th>
                        <th data-column="stAtivo">Status</th>
                        <th data-column="opcoes">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td valign="top" colspan="6">Acione a pesquisa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}