<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cadastrarUsuario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="form-operador" class="cmxform form-horizontal tasi-form" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar usuário</h4>
                </div>
                <div class="modal-body">
                    <p>Preencha todos os campos abaixo para adicionar um novo usuário.</p>

                    <div class="alert alert-block alert-danger hide" id="error-operador">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <span id="operador-message"></span>
                    </div>
                    <label class="control-label" for="noPessoa">Nome Completo</label>
                    {{ formText('noPessoa', '', {
                        class: 'form-control required',
                        placeholder: 'Nome completo'
                    }) }}
                    <br/>
                    <label class="control-label" for="noEmail">Email</label>
                    {{ formText('noEmail', '', {
                        class: 'form-control required email',
                        placeholder: 'E-mail'
                    }) }}
                    <br/>
                    <label class="control-label" for="nuCpf">CPF</label>
                    {{ formText('nuCpf', '', {
                        class: 'form-control required cpf',
                        placeholder: 'Número de CPF',
                        'data-mask': 'cpf'
                    }) }}
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="btn-close">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-add-operador">
                        <i class="fa"></i> Adicionar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btn-add-operador').click(function () {
            if ($('#form-operador').valid()) {
                $.post('{{ path('super_operador_create') }}', $('#form-operador').serializeArray(), function (data) {
                    if (data.valido == false) {
                        $('#error-operador').removeClass('hide');
                        $('#operador-message').html(data.mensagem);
                    } else {
                        $('#error-operador').addClass('hide');
                        $('#noOperador').val($('#form-operador #noPessoa').val());
                        $('#idOperador').val(data.idUsuario);
                        $('#btn-close').click();
                    }
                })
            }
        });

        $('#btn-close').click(function () {
            $('#form-operador').find('input').val('');
            $('#form-operador').validate().resetForm();
        });
    })
</script>