<ul class="sidebar-menu" id="nav-accordion">
    <li class="sub-menu">
        <a href="{{ path('manter_promocao_index') }}">
            <i class="fa  fa-flag"></i>
            <span>Manter Promoção</span>
        </a>
    </li>
    <li class="sub-menu">
        <a href="{{ path('manter_enquete_index') }}">
            <i class="fa  fa-bullhorn"></i>
            <span>Manter Enquete</span>
        </a>
    </li>
</ul>