<ul class="sidebar-menu" id="nav-accordion">
    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-user"></i>
            <span>Gerenciar Usuário</span>
        </a>
        <ul class="sub">
            {#<li><a href="{{ path('super_usuario_index') }}">Usuario</a></li>#}
        </ul>
    </li>
</ul>