<div class="btn-group  btn-group-sm">
    <a href="{{ path('super_franquia_edit', {id: data.idFranquia}) }}" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>