{% extends 'SuperBaseBundle::layout.html.twig' %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            {% block title %}{% endblock %}
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>
        </header>
        <div class="panel-body">
            {% include 'SuperFranquiaBundle:Default:form.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    {% javascripts
        '@SuperBaseBundle/Resources/public/js/jquery.autocomplete.js'
        '@SuperBaseBundle/Resources/public/js/franquia/*'
        output='js/super/franquia/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}