<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="cepErro" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CEP inválido</h4>
            </div>
            <div class="modal-body">
                Não foi possível encontrar o CEP informado.
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
            </div>
        </div>
    </div>
</div>