{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}

    <form method="post" action="{{ path('manter_cardapio_create') }}" id="form-cadastro"
          class="form-horizontal tasi-form" enctype="multipart/form-data">

        <section class="panel">
            <header class="panel-heading">
                Cadastrar Cardápio
              <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
              </span>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Nome</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control required" id="noCardapio" name="noCardapio"
                               placeholder="Nome">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Situação</label>

                    <div class="col-lg-9">
                        <select class="form-control required" id="stAtivo" name="stAtivo">
                            <option value="">Selecione...</option>
                            <option value="0">Inativo</option>
                            <option value="1">Ativo</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="txtData" class="control-label col-md-3">Produtos</label>

                    <div class="col-md-1">
                        <a class="btn btn-default" id="addProduto" value="Adicionar">Adicionar <span
                                    class="fa  fa-plus"></span></a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert" style="margin-top: 10px">
                            <strong>Atenção!:</strong> A imagem do produto tem tamanho: 1200px X 500px
                        </div>
                    </div>
                </div>

                <div class="form-group primeiroelemeto ">
                    <div class="col-lg-6 ">
                        <section class="panel newPro col-lg-12 ">
                            <header class="panel-heading alert-info">
                                Produto
                            </header>

                            <div class="panel-body alert-info">

                                <div class="col-lg-6 ">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label col-lg-3" for="inputSuccess">Nome</label>

                                        <div class="col-lg-9 ">
                                            <input type="text" class="form-control required" id="noProduto1"
                                                   name="noProduto1"
                                                   placeholder="Nome">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Preço </label>

                                        <div class="col-lg-9">


                                            <div class="input-group m-bot15">
                                                <span class="input-group-addon">R$</span>
                                                <input type="text" class="form-control required" id="noPreco1"
                                                       data-mask="999.999.999.999,99"
                                                       name="noPreco1" placeholder="  Preço">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group last">

                                        <div class="col-md-9">


                                            <div class="fileupload fileupload-new" data-provides="fileupload">

                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                     style="max-width: 70px;  line-height: 20px;"></div>
                                                <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Selecionar imagem</span>
                                                <span class="fileupload-exists"><i
                                                            class="fa fa-undo"></i> Alterar</span>
                                                <input type="file" name="noImagem1" id="noImagem1" accept="image/*">
                                            </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>

                <div class="form-group">
                    <input type="hidden" class="TotalProdutos" name="TotalProdutos" value="1"/>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <a class="btn btn-danger" href="{{ path('manter_cardapio_index') }}">Cancelar</a>
                    </div>
                </div>

            </div>
        </section>

    </form>

    <script>
        $(document).ready(function () {

            $("#datepicker").datepicker("option", "dateFormat", "dd/mm/yy");

            $("#addProduto").click(function () {
                var totalProdutos = $(".TotalProdutos").val();
                totalProdutos = parseInt(totalProdutos) + 1;
                $(".TotalProdutos").attr("value", totalProdutos);
                $(".primeiroelemeto").append(' <div class="col-lg-6"> <section class="panel newPro  col-lg-12  deletar' + totalProdutos + '">' +
                '<header class="panel-heading alert-info"><span>' +
                'Produto </span> <button type="button" class="btn btn-shadow btn-danger pull-right  btn-xs excluirPro' + totalProdutos + '"><span class="fa fa-times"></span></button>' +
                '</header>' +
                '<div class="panel-body alert-info">' + ' <div class="col-lg-6">' +
                '<div class="form-group">' +
                '<label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Nome</label>' +
                '<div class="col-lg-9">' +
                '<input type="text" class="form-control required"  id="noProduto1" name="noProduto' + totalProdutos + '" placeholder="Nome">' +
                '</div>' +
                '</div>' +
                '<div class="form-group">' +
                '<label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Preço</label>' +
                '<div class="col-lg-9">' +
                '  <div class="input-group m-bot15"> <span class="input-group-addon">R$</span> <input type="text" class="form-control required" id="noPreco1"  data-mask="999.999.999.999,99"name="noPreco' + totalProdutos + '"  placeholder="Preço"> </div>' +
                '</div>' +
                '</div>' +
                '</div>' + '<div class="col-lg-4">' +
                '<div class="form-group last">' +
                '<div class="col-md-9">' +
                '<div class="fileupload fileupload-new" data-provides="fileupload">' +
                '<div class="fileupload-preview fileupload-exists thumbnail"' +
                'style="max-width: 70px; line-height: 20px;"></div>' +
                '<div>' +
                '<span class="btn btn-white btn-file">' +
                '<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Selecionar imagem</span>' +
                '<span class="fileupload-exists"><i' +
                'class="fa fa-undo"></i> Alterar</span>' +
                '<input type="file" name="noImagem' + totalProdutos + '" id="noImagem" accept="image/*">' +
                '</span>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' + '</div>' +
                '</div>' +
                '</div>' +
                '</section>');

                $(".excluirPro" + totalProdutos).click(function () {
                    var elementoDelete = $(this).parent().children("span").html();
                    $(this).parent().parent().parent().next().children().children().children("span").html(elementoDelete);

                    $(".deletar" + totalProdutos).remove();
                });
                $('input[data-mask]').each(function () {
                    var input = $(this);
                    input.setMask(input.attr('data-mask'));
                });
            });
            $(".excluiPainel").click(function () {
                $(this).parent().parent().remove();
            });
        });
    </script>
{% endblock body %}
