{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}

    <form method="post" action="{{ path('manter_cardapio_create') }}" id="form-cadastro"
          class="form-horizontal tasi-form" enctype="multipart/form-data">
        <section class="panel">
            <header class="panel-heading">
                Cadastrar Cardapio
              <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
              </span>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Nome</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control required" id="noCardapio" name="noCardapio"
                               placeholder="Nome">
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtData" class="control-label col-md-3">Produtos</label>

                    <div class="col-md-1">
                        <a   class="btn btn-default" id="addProduto" value="Adicionar">Adicionar <span
                                    class="fa  fa-plus"></span></a>
                    </div>
                </div>

            </div>
        </section>
<div class="produtosAll">
    <input type="hidden" class="TotalProdutos" name="TotalProdutos" value="1" />
    <div id="primeiroelemeto">
        <section class="panel newPro">
            <header class="panel-heading">
                1° Produto
            </header>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Nome</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control required" id="noProduto1" name="noProduto1" placeholder="Nome">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Preço R$</label>

                    <div class="col-lg-2">
                        <input type="text" class="form-control required" id="noPreco1" mask="decimal" name="noPreco1" placeholder="R$ Preço">
                    </div>
                </div>

                <div class="form-group last">
                    <label class="control-label col-md-3">Arquivo</label>

                    <div class="col-md-9">


                        <div class="fileupload fileupload-new" data-provides="fileupload">

                            <div class="fileupload-preview fileupload-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Selecionar imagem</span>
                                                <span class="fileupload-exists"><i
                                                            class="fa fa-undo"></i> Alterar</span>
                                                <input type="file" name="noImagem1" id="noImagem1" accept="image/*">
                                            </span>
                            </div>
                            <div class="alert alert-info" role="alert" style="margin-top: 10px">
                                <strong>Atenção!:</strong> Tamanho da Imagem: 1200px X 500px
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>


        <section class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label col-lg-3" for="inputSuccess">Situação</label>

                    <div class="col-lg-9">
                        <select class="form-control required" id="stAtivo" name="stAtivo">
                            <option value="">Selecione...</option>
                            <option value="0">Inativo</option>
                            <option value="1">Ativo</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>

                <a href="{{ path('manter_cardapio_index') }}" class="btn btn-default">
                    <i class="fa fa-times"></i>
                    Cancelar
                </a>


            </div>
        </section>
    </form>
{% endblock body %}
