<div class="modal fade" id="myModal{{ data.idCardapio }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Remover</h4>
            </div>
            <div class="modal-body">
                Deseja Realmente remover esse Cardápio ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a href="/franqueador/cardapio/delete/{{ data.idCardapio }}"
                   class="btn btn-primary">Remover</a>
            </div>
        </div>
    </div>
</div>
<button style="margin-right:5px;" data-toggle="modal" data-target="#myModal{{ data.idCardapio }}" class="btn btn-danger btn-xs">
    <span class="glyphicon glyphicon-trash"></span>
</button>
<a href="/franqueador/cardapio/editar/{{ data.idCardapio }}" class="btn btn-success btn-xs">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
