{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Personalizar Email de FeedBack
                              <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                              </span>
                </header>
                <div class="panel-body">
                    <form action="#" class="form-horizontal tasi-form">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="wysihtml5 form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}
