{% extends 'SuperBaseBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Personalizar Email de FeedBack
                              <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                              </span>
                </header>
                <div class="panel-body">
                    <form action="{{ path('super_feedback_set_email') }}" method="post" class="form-horizontal tasi-form">

                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea name="emailFaadback" class="wysihtml5 form-control" rows="10">{{ franqueador.dsMensagem }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" >
                            Salvar
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $('.wysihtml5').wysihtml5();
        });
    </script>
{% endblock %}