{% extends 'SuperFranquiaBundle:Operador:layout.html.twig' %}

{% block title %}Cadastrar Operador{% endblock %}

{% block form %}
    <form method="post" id="form-franquia-operador" class="cmxform form-horizontal tasi-form" novalidate="novalidate">
        <div class="operadores">
            {{ formHidden('idFranquia', idFranquia) }}
            <div class="col-lg-12 divOperador" id="divOperador">
                <input type="hidden" name="idOperador[]">
                <section class="panel newPro col-lg-12">
                    <header class="panel-heading">
                        <span class="titulo">1° Operador</span>
                        <button type="button" class="btn btn-shadow btn-danger pull-right btn-xs remover">
                            <span class="fa fa-times"></span>
                        </button>
                    </header>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Nome Operador</label>
                                <div class="col-lg-10">
                                    <div class="input-group m-bot15">
                                        {{ formText('noOperador', '', {class: 'form-control required noOperador'}) }}
                                        <span class="input-group-addon" data-toggle="modal" href="#cadastrarUsuario"><i class="fa fa-plus"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">E-mail Operador</label>
                                <div class="col-lg-10">
                                    {{ formText('noEmail', '', {class: 'form-control required email', readonly: 'readonly'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <a class="btn btn-default" id="adicionarOperador" value="Adicionar">Adicionar <span class="fa  fa-plus"></span></a>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Salvar
        </button>
        <a type="button" href = "" class="btn btn-danger">
            Cancelar
        </a>
    </form>
{% endblock %}