/bower_components/
/node_modules/
/web/bundles/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/web/galeria/
/composer.phar
/.idea/*
desktop.ini
/web/produto/
/web/promocao/
/web/nivel/
/web/css/
/web/js/