<div class="btn-group  btn-group-sm">
    <a href="{{ path('super_franqueador_template_edit', {id: data.idTemplateEmail}) }}" class="btn btn-xs">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>